@media screen and (max-width: 768px) {
    .tpl__header{
        ul{
            li{
                display: none;
                &:last-child{
                    display: block;
                }
            }
        }
    }
    .tpl__footer{
        flex-direction: column;
        gap: 2rem;
        text-align: center;
        padding: 2rem 1rem;
    }
    // Section Hero
    .section__hero{
        h1{
            font-size: 2rem;
            max-width: 100%;
        }
        p{
            max-width: 100%;
        }
    }
    // Section Cenário
    .section__cenario{
        .quadros {
            grid-template-columns: 1fr 1fr;
            .quadro {
                margin-bottom: 2rem;
                figure.quadro{
                    transform: scale(1);
                    &:hover{
                        transform: scale(1);
                    }
                }
            }
        }
    }
    // Section Espaço
    .pure-slide{
        padding: 1rem;
        .pure-slide__container{
            padding: 1rem 0;
            .slide{
                width: 100%;
                transform: scale(1);
                &:nth-child(2){
                    transform: scale(1);
                }
            }
            img.slide{
                width: 100%;
            }
        }
    }
    // Section Depoimentos
    .section__depoimentos{
        .depoimentos{
            flex-direction: column;
            .depoimento{
                margin-bottom: 3rem;
            }
        }
    }
    // Section Galeria
    .section__fotos{
        .gallery{
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
            li{
                &:nth-child(1){
                    grid-column: initial;
                }
                &:nth-child(6){
                    grid-column: 1 / span 2;
                    grid-row: 4;

                }
            }
        }
    }
    .section__orcamento {
        .grid{
            grid-template-columns: 1fr;
            grid-gap: 2rem;
        }
        .form__container{
            border-right: 0;
            border-bottom: 1px solid #dbdbdb;
            padding-right: 0;
            padding-bottom: 2rem;
        }
    }
    .ttl{
        font-size: 2rem;
    }
    p.copy {
        width: 100%;
        max-width: 100% !important;
    }

}

